<main>
  <div class="container ">
    <div class="list-group list-group-horizontal-lg ">
      <div class="card ">
        <img class="card-img-top border-3 " src="../../assets/Imagens/melhor-foto-aleatoria.jpg" alt="aleatoria">
        <div class="card-body ">
          <h3 class="h3 ">Produto</h3>
        </div>
      </div>
      <div class="card ">
        <img class="card-img-top border-3 " src="../../assets/Imagens/melhor-foto-aleatoria.jpg" alt="aleatoria">
        <div class="card-body ">
          <h3 class="h3 ">Produto</h3>
        </div>
      </div>
      <div class="card ">
        <img class="card-img-top border-3 " src="../../assets/Imagens/melhor-foto-aleatoria.jpg" alt="aleatoria">
        <div class="card-body ">
          <h3 class="h3 ">Produto</h3>
        </div>
      </div>
    </div>
  </div>
</main>